
<h1>Enter New Education Information</h1>

<%= form_tag url, method: form_method do %>
<div>Start Date: <input type= "text" value= "<%= @education.start_date %>" name="start_date"></div>
<div>End Date: <input type="text" value="<%= @education.end_date %>" name="end_date"></div>
<div>Degree: <input type= "text" value= "<%=@education.degree %>" name="degree"></div>
<div>University Name: <input type= "text" value= "<%= @education.university_name %>" name="university_name"></div>
<div>Details: <input type="text" value="<%= @education.details %>" name="details"></div>
<input type= "submit" value="Add Education">
<%end%>